*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
h1{
    color: rgb(163, 22, 57);
    font-size: 25px;
    text-align: center;
}
header{
    background-color:rgb(163, 22, 57);
    position: absolute;
    color: aliceblue;
    left: 0;
    top: 0;
    height: 90px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
footer{
    background-color:lightslategray;
    padding: 10%;
    font-size: 0.6em;
    color: aliceblue;
    text-align: left;
}
#foto{
    top: 0;
    height: 90px;
    width: 90px;
    cursor: pointer;
}
#foto:hover{
    transition: .5s;
    height: 91px;
    width: 91px;
}
#titulo{
    padding: 5px;
    margin: 5px;
    position: absolute;
    font-size: 2em;
    top: 10px;
    left: 3em;
    border: 3px solid yellow;
    cursor: pointer;
    border-radius: 20px;
}
#titulo:hover{
background-color: rgb(99, 10, 10);
transition: .5s;
}
body{
    height: 100%;
    margin: 0; 
}
a:hover{
    color: rgb(255, 255, 255);
}
#topo{
    position: absolute;
    left: 330px;
    top: 22px;
}
li{
    margin: auto;
    font-size: 1em;
    color: aliceblue;
    display: inline;
}
li a{
    top: 3%;
    padding: 5px 10px; 
    text-decoration: none;
    color: aliceblue;
}
li a:hover {
    
    background: rgb(99, 10, 10);
    transition: .5s;
}
button{
    border: 0;
    font-size: large;
    color: aliceblue;
    background-color: rgb(163, 22, 57);
    position: absolute;
    top: 0;
    width: 5em;
    right: 0;
    height: 5em;
}
button:hover{
    background-color: rgb(99, 10, 10);
    right: 0;
    height: 5em;
    transition: .5s;
    cursor: pointer;
}
#menu{
    margin: 5%;
    margin-left: 10%;
}
#img1{
    width: 215px;
    height: 259px;
    left: 860px;
    top: 115px;
    position: absolute;
}
