
h1{
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}
header{
    background-color:rgb(253, 0, 63);
    position: sticky;
    color: aliceblue;
    left: 0;
    top: 0;
    height: 90px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
footer{
    background-color:lightslategray;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: aliceblue;
    text-align: left;
}
#foto{
    top: 0;
    height: 91px;
    width: 90px;
    cursor: pointer;
}
#foto:hover{
    height: 95px;
    width: 95px;
}
#titulo{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    top: 4%;
    left: 8%;
    border: 2px solid yellow;
    cursor: pointer;
    border-radius: 10%;
}
#titulo:hover{
background-color: rgb(165, 15, 15);
transition: 100ms;
}
body{
    height: 100%;
    margin: 0; 
}
a:hover{
    color: rgb(255, 255, 255);
}
* {
    font-family:Verdana, Geneva, sans-serif;
}
ul {
    position: fixed;
    left: 330px;
    top: 22px;
    }
    
    li {
    color: aliceblue;
    list-style: none; 
    margin: 10px;
    display: inline;
    }
    li:hover{
        top: 0;
        background-position: 100%;
        background-color: brown;
    }
li a {
    padding: 5px 10px; 
    margin:0;
    border: 5px, rgb(165, 15, 15); 
    text-decoration: none;
    color: aliceblue;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: rgb(165, 15, 15);
    transition: 100ms;
}
#img1{
    object-position: 100%;
    margin-left: 190px;
}