*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
h1{
    color: rgb(163, 22, 57);
    font-size: 25px;
    text-align: center;
}
header{
    background-color:rgb(163, 22, 57);
    position: sticky;
    color: aliceblue;
    left: 0;
    top: 0;
    height: 90px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
footer{
    background-color:lightslategray;
    padding: 10%;
    font-size: 12px;
    color: aliceblue;
    text-align: left;
}
#foto{
    top: 0;
    height: 91px;
    width: 90px;
    cursor: pointer;
}
#foto:hover{
    transition: .5s;
    height: 93px;
    width: 93px;
}
#titulo{
    padding: 5px;
    position: fixed;
    font-size: 30px;
    top: 3%;
    left: 8%;
    border: 3px solid yellow;
    cursor: pointer;
    border-radius: 20px;
}
#titulo:hover{
background-color: rgb(165, 15, 15);
transition: .5s;
}
body{
    height: 100%;
    margin: 0; 
}
a:hover{
    color: rgb(255, 255, 255);
}
#topo{
    position: fixed;
    left: 330px;
    top: 22px;
    }
    li {
    color: aliceblue;
    margin: 2px;
    display: inline;
    }
li a{
    top: 3%;
    padding: 5px 10px; 
    border: 5px, rgb(165, 15, 15); 
    text-decoration: none;
    color: aliceblue;
    border-radius:5px;
    
}
li a:hover {
    background: rgb(165, 15, 15);
    transition: .5s;
}
button{
    border: 0;
    font-size: large;
    color: aliceblue;
    background-color: rgb(163, 22, 57);
    top: 0;
    position: fixed;
    right: 0;
    width: 90px;
    height: 90px;
}
button:hover{
    background-color: rgb(165, 15, 15);
    height: 92px;
    width: 92px;
    transition: .5s;
    cursor: pointer;
}
#menu{
    margin: 30px;
    overflow-x: scroll;
}
#img5{
    margin-left: auto;
    margin-right: auto;
}